<div class ="container">
  <div class="row">
    <div id="form">
      <div class="col-sm-12 col-md-6">
          <%= simple_form_for(@drone) do |f| %>
          <h1>Add Drone</h1>
          <br>
          <div class="form-group">
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :location %>
            <%= f.input :price %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
          </div>
          <%= f.submit class: 'btn btn-primary' %>
          <% end %>
          <br>

        </div>
      </div>
  </div>
</div>


