

<div class="wrapper-blue">
  <div class="container">
    <h6> <%= link_to "all drones", drones_path, class: 'btn btn-link'%> > <%= link_to "drone", drone_path, class: 'btn btn-link'%> </h6>





    <!--        IMAGE ON THE LEFT SIDE -->
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="image-show" style = "background-image: url(  <%= cl_image_path @drone.photo, crop: :fill %>);">

        </div>
      </div>


      <div class="col-xs-12 col-md-6">
        <h3> <%= @drone.name %> </h3>
        <h5> <%= @drone.category %> </h5>

        <span class="label label-primary">available</span>
        <span class="monospaced">No. <%= @drone.user_id %></span>
        <br>
        <p class="description">
          <%= @drone.description %>
        </p>
        <div class="col-md-4">
          <span class="sr-only">Four out of Five Stars</span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="label label-primary" id="jason"> <%= @drone.reviews.size %> </span>
        </div>
        <div class="col-md-4">
          <span class="monospaced">Write a review</span>
        </div>

        <div >
          <h3 >$ <%= @drone.price %></h3>
        </div>

        <div class="submit" >
          <%= link_to "Rent now", new_drone_booking_path(@drone), class: 'btn btn-lg btn-primary btn-full-width'%>
          <%= link_to "Delete", drone_path(@drone),method: :delete, data: { confirm:"Are you sure you want to delete #{@drone.name}"}, class: 'btn btn-lg btn-warning btn-full-width'%>
        </div>

        <br>
        <br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#description"
            aria-controls="description"
            role="tab"
            data-toggle="tab"
            >Description</a>
          </li>
          <li role="presentation">
            <a href="#location"
            aria-controls="location"
            role="tab"
            data-toggle="tab"
            >Location</a>
          </li>
<!--           <li role="presentation">
            <a href="#notes"
            aria-controls="notes"
            role="tab"
            data-toggle="tab"
            >Notes</a>
          </li> -->
          <li role="presentation" id="willem">
            <a href="#reviews"
            aria-controls="reviews"
            role="tab"
            data-toggle="tab"
            > <%= pluralize @drone.reviews.size, "review" %> </a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="description">
            <%= @drone.description %>
          </div>
          <div role="tabpanel" class="tab-pane top-10" id="location">
            <%= @drone.location %>
          </div>
<!--           <div role="tabpanel" class="tab-pane" id="notes">
            noooooooooteeesssss
          </div> -->
          <div role="tabpanel" class="tab-pane" id="reviews">
            <!--             US : "this is a wonderful website to find your drone!" -->

            <div id="reviews">
              <% if @drone.reviews.blank? %>
              Be the first to leave a review for <%= @drone.name %>
              <% else %>
              <% @drone.reviews.each do |review| %>
              <%= render 'reviews/show', review: review %>
              <% end %>
              <% end %>
            </div>
   <%= render 'reviews/form', drone: @drone, review: @review %>

          </div>
          <br>
        </div>

      </div>
      <%#= render 'reviews/form', drone: @drone, review: @review %>
    </div>
  </div>
</div>

<br>
<br>
<br>

